<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="main-div">
    <mat-card class="center-container">
        <mat-card-header>
            <h2>Employee Login</h2>
        </mat-card-header>
            <mat-form-field class="example-form">
                <mat-label>Email</mat-label>
                <input matInput type="email" id="email1" placeholder="user1@atu.edu" name="email"
                                    required>
            </mat-form-field>
            <mat-form-field class="example-form">
                <mat-label>Password</mat-label>
                <input matInput type="text" id="password" placeholder="Password" name="password"
                                    required>
            </mat-form-field>
        <button mat-raised-button color="primary" class="login-button"><h1>Log In</h1></button>
    </mat-card>
</div>


